.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}
.header__links-list {
  display: flex;
  gap: 31.48px;
  font-size: 18px;
  line-height: 21.14px;
}
.header__links-list-item {
  list-style: circle;
}
.text_link:hover {
  color: white;
  background-color: black;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__links-list-item_no-bullit a {
  text-decoration: none;
}
.header__logo {
  display: block;
  justify-content: center;
  align-items: center;
  width: 148px;
}
.header__logo-image {
  width: 100%;
}
.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;

}


.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/lotus-flower.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: black;
}
.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 0px 50px;
  color: white;
  font-size: 100px;
  line-height: 115px;
}
.aligned-text {
  display: block;
  letter-spacing: 3px;
}
.aligned-text_center {
  margin-top: 20px;
  margin-right: 61px;
  margin-left: 44.5px;
  letter-spacing: 4px;
  text-align: center;
  padding-left: 20px;
  padding-right: 3px;
}
.aligned-text_right {
  margin-top: 20px;
  letter-spacing: 4px;
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 106px 50px 0px 50px;
}
.cover__description-text {
  z-index: 2;
  margin-top: 12px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing:18px;
}

.bet-button {
  z-index: 2; 
  width: 256px;
  margin-left: 107px ;
  border: 1px currentColor solid;
  padding: 12px 32px 11px 31px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


.lots {
  padding: 180px 24px 0px 24px;
}
.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size:40px;
  line-height: 46.96px;
  text-transform: uppercase;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:25px;
  list-style: none;
}
.card-link {
  display: block;
  height: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:334px;
  min-width: none;
  min-height:596px;
  margin-bottom: 30px;
  color: white;
  background-position: center;
  background-size: cover;
}
.card__title {
  position: relative;
  z-index: 2;
  margin: 48px 40px 0px 40px;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 2;
  padding: 0px 40px 48px 40px;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-bottom: 155px;
  padding:0 50px;
}
.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 155px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: black;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  margin:64px 45.52px 62px 46.48px;
}
.about__title {
  margin-top: 256px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 115px;
  justify-content: space-between;
}

.footer-address {
  justify-self: start;
  margin-left: 50px;
  font-style: normal;

}
.footer__menu-list {
  font-size: 18px;
  text-align: center;
  list-style: none;
}
.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}
.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-left: 25px;
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}

